
/*CSS Variables*/

:root{
    --PRIMARY-COLOR:#4B4453;
    --DARK-PRIMARY-COLOR:#272d38;
    --GRAY-COLOR: #ece6e6;
    --TEXT-COLOR: #FFF;
    --BLACK-COLOR:#000;
    --SECONDARY-COLOR:#dbd9dc;
    --FOOTER-COLOR : #ff9f1c;
}

*{
    margin: 0;
    scroll-behavior: smooth;
}

.menu-link,
.footer-menu-link{
    color: var(--WHITE-COLOR);
    font-size: 1.6rem;
    padding:.8rem 1.2rem;
    transition: all .3s ease;
    border-radius:5px;
}

.menu-link:hover,
.footer-menu-link:hover {
    background: var(--TEXT-COLOR);
    color:var(--BLACK-COLOR);
}

.navbar-menu{
    width: 50%;
    justify-content: space-evenly;
}

img.hero-img{
    object-fit: cover;
    object-position: top right;
    width: 100%;
    height: calc(100vh - 8rem);
   
}

header{
    height: calc(100vh - 16rem);
}


.hero{
    background: linear-gradient(180deg, var(--PRIMARY-COLOR) 0%, var(--SECONDARY-COLOR) 100%);  
    position: relative;
} 

.btn-hero-cta{
    width:25rem;
    padding:1rem 1.2rem;
}

.inverted-text{
    color: var(--BLACK-COLOR);
}

.hero .btn-hero-cta{
    display: block;
    padding: 1.2rem 1.4rem;
    background-color:var(--PRIMARY-COLOR);
    margin-top: 5rem;

} 

.hero-heading{
    font-size: 5.5rem;
}

.hero-text{
    position: absolute;
    top: 30%;
    left: 5%;
    color: var(--TEXT-COLOR);
    max-width: 72rem;

}

/*Categories Styling*/

.category-heading{
    margin-top: 14rem;
    margin-bottom: 5rem;
}

.quiz-category{
    display: flex;
    justify-content: space-around;
    margin-bottom: 8rem;
    flex-wrap: wrap;
}

.card{
    min-width: 30rem;
}

  /*Footer styling*/


  .footer-credit{
    color: var(--FOOTER-COLOR);
  }

  .footer{
      height: 10rem;
      background-color: var(--PRIMARY-COLOR);
      align-items: center;
      justify-content: center;
      color: var(--TEXT-COLOR);
  }

  .footer-links{
      margin:0;
  }

  .footer-menu-link{
    color: var(--TEXT-COLOR);
    font-size: 1.6rem;
    padding:.6rem 1rem;
    transition: all .3s ease;
    border-radius:5px;
  }